/media/post_images
/media/profile_images
/static/assets/fonts
/static/assets/images
/static/css/strip-skins
/static/css/emoji
/static/fonts
/static/images
/static/settings/fonts
/static/settings/fullcalendar
/static/video

