{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    body{
        background-color: rgb(23, 14, 14);
    }
</style>
<body>

    <div class="container m-auto">

        <!--<h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>--->

        <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

            <!-- left sidebar-->
            <div class="space-y-5 flex-shrink-0 lg:w-7/12">

    <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">

        {%if post.shared_from != ''%}
        <div class="flex justify-between items-center px-4 py-3">
            <div class="flex flex-1 items-center space-x-4">

                <span class="font-bold "><a href="/profile/{{post.shared_from}}">{{post.shared_from}}</a></span>
                

        </div>
        
        </div>
            <hr/>
        {%endif%}

        <!-- post header-->
        <div class="flex justify-between items-center px-4 py-3">
            
            <div class="flex flex-1 items-center space-x-4">
                

                {%if post.user != user.username%}
                <span><a href="/profile/{{post.user}}">{{post.user}}</a></span>
                {%else%}
                <span style="font-weight: bolder;"><a href="/profile/{{post.user}}">{{post.user}}(You)</a></span>
                {%endif%}
            </div>
          <div>
            <a href="#"> <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 "></i> </a>
            <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100  " uk-drop="mode: hover;pos: top-right">
          
                <ul class="space-y-1">
                    {%if post.user != user.username%}
                  <li> 
                      <a href="/share-post/{{post.id}}" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md ">
                       <i class="uil-share-alt mr-1"></i> Share
                      </a>
                      
                  </li>
                  {%else%}

                  <li> 
                    <a href="/disable/{{post.id}}" class="flex items-center px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md ">
                      
                        {%if post.comments_disabled == False%}
                        <i class="uil-comment-slash mr-1"></i>  Disable Comments
                        {%else%}
                        <i class="uil-comment mr-1"></i>  Enable Comments
                        {%endif%}
                    </a> 
                </li> 
                <li> 
                    <a href="/delete-post/{{post.id}}" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md ">
                     <i class="uil-trash-alt mr-1"></i>  Delete Post
                    </a> 
                </li>

                  {%endif%}
                  <li>
                    <hr class="-mx-2 my-2 ">
                  </li>
                </ul>
            
            </div>
          </div>
        </div>

        <div uk-lightbox>
            <a href="{{post.image.url}}">  
                <img src="{{post.image.url}}" alt="">
            </a>
        </div>
        

        <div class="py-3 px-4 space-y-3"> 


        <div class="flex space-x-4 lg:font-bold">
            <a href="/like_in_profile?post_id={{post.id}}&from_post=yes" class="flex items-center space-x-2">
                <div class="p-2 rounded-full text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                        <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                    </svg>
                    {% if post.likes == 0 %}
                    <p>No likes</p>
                    {% elif post.likes == 1 %}
                    <p>Liked by {{post.likes}} person</p>
                    {% else %}
                    <p>Liked by {{post.likes}} people</p>
                    {% endif %}
                </div>
                
            </a>
            <!-- <a href="#" class="flex items-center space-x-2">
                <div class="p-2 rounded-full text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                        <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
                    </svg>
                </div>
                
            </a> -->
            
        </div>
           
            

            <p>
                <a href="/profile/{{post.user}}"><strong>{{post.user}}</strong></a> {{post.caption}}
            </p>
            <hr/>
            {% if post.comments_disabled == False%}
            <p>
                <form action="/comment/{{post.id}}" method="post">
                    {%csrf_token%}
                    <textarea required name="comment" placeholder="Comment here...." width="40%"  style="color: black;"></textarea>
                    <button type="submit" style="border: 2px solid rgb(0, 11, 128) ; background-color: rgb(6, 0, 128); color: rgb(241, 240, 255); border-radius: 3px; margin-top: 5px;" >Send</button>
                </form>
            </p>
            <p>
                <span style="font-weight: bolder;">Comments...</span>

                <div>
                    {%for comment in comments reversed%}
                        {% if request.GET.comment_id|stringformat:"s" == comment.id|stringformat:"s"  %}
                        

                            <p>
                                <form action="/comment/{{post.id}}?comment_id={{comment.id}}" method="post">
                                    {%csrf_token%}
                                    <textarea required name="comment" style="color: black;">{{comment_value}}</textarea>
                                    <button type="submit" style="border: 2px solid rgb(59, 186, 27) ; background-color: rgb(59, 186, 27); color: rgb(241, 240, 255); border-radius: 3px; margin-top: 5px;" >Edit</button>
                                </form>
                            </p>

                        
                        {%else%}

                            <p>
                            
                            <a href="/profile/{{comment.username}}"><span><b>{{comment.username}}.... </b></span></a>{{comment.comment}}
                            <span style="float: right;"><a href="/post/{{post.id}}?comment_value={{comment.comment}}&comment_id={{comment.id}}">
                                {%if comment.username == request.user.username%}
                                    <i class="uil-edit mr-1" style="color: rgb(172, 127, 255);"></i>

                                {%endif%}
                            </a></span>
                            </p>


                        {%endif%}
                        <hr/>
                    {%endfor%}
                </div>
            </p>
            {%else%}
            <p>
                Comments Disabled for this post
            </p>
            {%endif%}

            

        </div>

    </div>
    </div>
    </div>
    </div>


<!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>